<h1>Welcome to Movie Search</h1>

<%= form_tag "/movies", method: :get do %>
  <%= label_tag(:q, "Search By Title") %>
  <%= text_field_tag :search_title, params[:search] %>
  <%= submit_tag("Search Movies") %>
<% end %>
