<%= image_tag "https://image.tmdb.org/t/p/w1280/#{@movie.poster_url}", :class => "thumbnail", :size => '180x260' %><br>
<h2><%=@movie.title%></h2>
<h4><%=@movie.overview%></h2><br>
<h4>Release Date: <%=@movie.release_date%></h2><br>
